h1 {
	color: steelblue;
}

body,html {
	background: #F2E0F0;
	width: 100%;
	height: 100%;
}

.thumbnail img {
    width: 100%;
}

/*.thumbnail {
    padding: 0;
}*/

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
	display: inline;
}